# Logs
logs
*.log
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

#Modules
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/

# Archives
*.zip
*.tar
*.tar.gz